<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Заголовок -->
    <div class="navbar-header">
      {{title}}
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbar-main">
    <ul class="nav navbar-nav">
      <li><a href="about">Дисциплины</a></li>
      <li><a href="#">Дис+Направления</a></li>
      <li><a href="#">Направления подготовки</a></li>
      <li>
        <ul class="dropdown-menu">
          <li><a href="http://bloggood.ru/">BlogGood.ru</a></li>
          <li><a href="http://stepkinblog.ru/">StepkinBlog.ru</a></li>
        </ul>
      </li>
    </ul>
  </div>

</nav>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
